.container {
	padding: 10px;
}

.tab {
font-family: "Inter", sans-serif;
font-size: 0.95rem;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
background-color: #F9F8F8;
border-radius: 10px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
}

.bpm {
  font-family: "Inter", sans-serif;
font-size: 1rem;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.button {
  background-color: #7fbeec9d;
  color: #f9f8f8;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 550;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin-top: 70px;
}

.scoreDiv {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 550;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
}

.tryagainBtn {
  background-color: #7fbeec9d;
  color: #f9f8f8;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 20px;
  /* width: 40%; */
  border: 0;
  border-radius: 10px;
}