.songtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
  
.date{
    font-family: Inter;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 200;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 5px;
}
  
.score {
font-family: "Roboto", sans-serif;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 200;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: grey;
    margin-top: 5px;
}
  