.songtitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.author {
  font-family: "Inter";
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
  margin-top: 8px;
}

.score {
font-family: "Inter";
  font-size: 10px;
  font-weight: 550;
  line-height: 17px;
  /* letter-spacing: 0em; */
  text-align: left;
  margin-top: 10px;
  float: right;
}
