.date {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
}

.summary {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  font-size: 32px;
}

.activity {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 17px;
  font-size: 14px;
  font-style: normal;
}

.last-played {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 17px;
  font-style: normal;
  width: 179px;
  height: 20px;
}

.button-play {
  background-color: #7fbeec;
  color: #f9f8f8;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px;
  width: 100%;
  border: 0;
  border-radius: 10px;
}
